<h1>Alle Reviews</h1>

<table width="100%">
	<tr>
		<th>Name</th>
		<th>Stars</th>
		<th>Kommentar</th>
		<th>Movie</th>
	</tr>
	<% @reviews.each do |review| %>
	<tr>
		<td><%= review.name %></td>
		<td><%= review.stars %></td>
		<td><%= review.comment %></td>
		<td><%= review.movie_id %></td>
	</tr>
	<% end %>
</table>

<p><%= link_to "Back", flix_index_path %><br></p>