
<h1>Bitte geben Sie Ihre Bewertung für den Film <%=@movie.name %> ein!</h1>

<%= form_for([@movie, @review, as: :review, method: :post, url: flix_reviews_path]) do |f| %>
	<%= render "shared/errors", obj_errors: @review %>
	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :name %>
		</div>
		<div class=" medium-10 columns">
			<%= f.text_field  :name %>
		</div>
	</div>

	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :stars %>
		</div>
		<div class=" medium-10 columns">
			<%= f.number_field  :stars %>
		</div>
	</div>

	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :comment %>
		</div>
		<div class=" medium-10 columns">
			<%= f.text_area  :comment, prompt: "Bitte ausfüllen" %>
		</div>
	</div>

	<div class="row">
		<%= f.submit "Bewerten", class: "button" %>
	</div>

<% end %>