<p id="notice"><%= notice %></p>

<h1>Bücherübersicht</h1>

<table border="1">
  <thead>
    <tr>
      <th>Image url</th>
      <th>Description</th>
      <th>Title</th>
      <th>Price</th>
      <th>Aktionen</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.image_url, size: "125" %></td>
        <td><b><%= product.title %></b><br>
            <%= product.description %></td>
        <td><%= product.title %></td>
        <td><%= format_price(product) %></td>
        <td><%= link_to 'Show', product %><br>
            <%= link_to 'Edit', edit_product_path(product) %><br>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
