<h1>Hier sehen Sie alle Datenbankeinträge!</h1>
<p>
	Es <%= @movies.count == 1 ? " ist " : " sind " %> <%= "#{pluralize(@movies.count, "Movie")}" %> vorhanden.
	<table width="100%">
			<tr>
				<th>Titel</th>
				<th>Rating</th>
				<th>Filmkosten</th>
				<th>Beschreibung</th>
				<th>Released am</th>
				<th>Show</th>
				<th>Edit</th>
				<th>Del</th>
			</tr>
			<% @movies.each do |movie| %>
			<tr>
				<td><%= movie.title %></td>
				<td><%= movie.rating %></td>
				<td><%= format_total_gross(movie) %></td>
				<td>
					<%= truncate(movie.description, length: 10, separator: ' ', omission: "") %>
					<%= link_to "...", flix_path(movie.id) %>
				</td>
				<td><%= time_ago_in_words(movie.released_on) unless movie.released_on.blank? %></td>
				<td><%= link_to "Show", flix_path(movie.id) %></td>
				<td><%= link_to "Edit", edit_flix_path(movie.id) %></td>
				<td><%= link_to "Delete", flix_path(movie.id), method: :delete, data: {confirm: "Sicher???"} %></td>
			</tr>	
			<% end %>
	</table>
	<p><%= link_to "Back", flix_index_path %></p>
</p>
	