<h1>Neuen Film anlegen</h1>
<%= form_for(@movie, as: :movie, method: :post, url: flix_index_path) do |f| %>
	<%= render "shared/errors", obj_errors: @movie %>

	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :title %>
		</div>
		<div class=" medium-10 columns">
			<%= f.text_field :title %>
		</div>
	</div>
	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :rating %>
		</div>
		<div class=" medium-10 columns">
			<%= f.text_field	:rating %>
		</div>
	</div>
	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :total_gross %>
		</div>
		<div class=" medium-10 columns">
			<%= f.number_field :total_gross%>
		</div>
	</div>
	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :description %>
		</div>
		<div class=" medium-10 columns">
			<%= f.text_area :description %>
		</div>
	</div>
	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :released_on %>
		</div>
		<div class=" medium-10 columns">
			<%= f.datetime_select :released_on %>
		</div>
	</div>

	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :poster_image_file %>
		</div>
		<div class=" medium-10 columns">
			<%= f.text_field :poster_image_file, placeholder:"gif,jpg dateiname" %>
		</div>
	</div>
	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :cast %>
		</div>
		<div class=" medium-10 columns">
			<%= f.text_area :cast %>
		</div>
	</div>
	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :director %>
		</div>
		<div class=" medium-10 columns">
			<%= f.text_field :director %>
		</div>
	</div>
	<div class="row">
		<div class=" medium-2 columns">
			<%= f.label :duration %>
		</div>
		<div class=" medium-10 columns">
			<%= f.time_select :duration %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns"><%= f.submit %></div>
		<div class="medium-10 columns>&nbsp;"></div>
	</div>

<% end %>
