<h1><%= @movie.title %></h1>

<div class="panel">
	<div class="row">
		<div class="medium-3 columns">
			<%= poster_image_for(@movie) %>
		</div>
		<div class="medium-9 columns">
			<%= @movie.description %>
		</div>
	</div>
</div>

<br>
<div class="panel">
	<div class="row">
		<div class="medium-2 columns">
			Wann:
		</div>
		<div class="medium-10 columns">
			<%= @movie.released_on %>
		</div>
	</div>
	<div class="row">
		<div class="medium-2 columns">
			Rating:
		</div>
		<div class="medium-10 columns">
			<%= @movie.rating %>
		</div>
	</div>
	<div class="row">
		<div class="medium-2 columns">
			Preis:
		</div>
		<div class="medium-10 columns">
			<%= format_total_gross(@movie) %>
		</div>
	</div>
	<div class="row">
		<div class="medium-2 columns">
			Besetzung:
		</div>
		<div class="medium-10 columns">
			<%= @movie.cast %>
		</div>
	</div>
	<div class="row">
		<div class="medium-2 columns">
			Regisseur:
		</div>
		<div class="medium-10 columns">
			<%= @movie.director %>
		</div>
	</div>
	<div class="row">
		<div class="medium-2 columns">
			Spielfilmlänge:
		</div>
		<div class="medium-10 columns">
			<%= @movie.duration %>
		</div>
	</div>
</div>
<ul class="button-group even-3">
	<li><%= link_to "Back", flix_index_path, class: "button" %></li>
	<li><%= link_to "Bewertungen", flix_reviews_path(@movie.id), class: "button" %></li>
	<li><%= link_to "neu Bewertung", new_flix_review_path(@movie.id), class: "button" %></li>

</ul>